<h2>创建新任务</h2>
<%= form_for :todo, url: todos_path do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.select :user_id, @users, include_blank: false %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>