<!DOCTYPE html>
<html>
<head>
  <title>MyColorWays</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if session[:current_user_id] %>
    <%= link_to '登出', log_out_path, style: 'float: right' %>
    <h3><%= session[:current_user_name] %>:
      <% if session[:current_team_id] %>
          <%= link_to session[:current_team_name], teams_path %>
      <% end %>
    </h3>
    <hr>
<% end %>

<%= yield %>
</body>
</html>
